extends layout

block content
	h1= title
	p "Burritos On Board"
	ul
		each val in result
			li
				img(src="http://localhost:3000/images/#{val.type}.png", style="width: 100px; height: 50px;")
				p(style="float: left;") #{val.quantity} #{val.type}